# 1. Write a python program to display all the header tags from wikipedia.org.

## Ans  ↓↓↓

In [7]:
first_heading = soup.find('span',class_="mw-headline")
first_heading.text

'Welcome to Wikipedia'

In [8]:
heading=[]

for i in soup.find_all('span',class_="mw-headline"):
    heading.append(i.text)
    
heading

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

## Ans  ↓↓↓

In [9]:
page = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
page

In [11]:
first_moviename = soup.find('h3',class_="lister-item-header")
first_moviename

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0111161/">The Shawshank Redemption</a>
<span class="lister-item-year text-muted unbold">(1994)</span>
</h3>

In [12]:
first_moviename = soup.find('h3',class_="lister-item-header")
first_moviename.text.replace("\n"," ")

' 1. The Shawshank Redemption (1994) '

In [13]:
movienames=[]

for i in soup.find_all('h3',class_="lister-item-header"):
    movienames.append(i.text.replace("\n",""))
    
movienames

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Dark Knight(2008)',
 '4.The Lord of the Rings: The Return of the King(2003)',
 "5.Schindler's List(1993)",
 '6.The Godfather: Part II(1974)',
 '7.12 Angry Men(1957)',
 '8.Pulp Fiction(1994)',
 '9.Everything Everywhere All at Once(2022)',
 '10.Inception(2010)',
 '11.The Lord of the Rings: The Two Towers(2002)',
 '12.Fight Club(1999)',
 '13.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '14.Forrest Gump(1994)',
 '15.Il buono, il brutto, il cattivo(1966)',
 '16.The Matrix(1999)',
 '17.Goodfellas(1990)',
 '18.The Empire Strikes Back(1980)',
 "19.One Flew Over the Cuckoo's Nest(1975)",
 '20.Interstellar(2014)',
 '21.Cidade de Deus(2002)',
 '22.Sen to Chihiro no kamikakushi(2001)',
 '23.Saving Private Ryan(1998)',
 '24.The Green Mile(1999)',
 '25.La vita è bella(1997)',
 '26.Se7en(1995)',
 '27.Terminator 2: Judgment Day(1991)',
 '28.The Silence of the Lambs(1991)',
 '29.Star Wars(1977)',
 '30.Seppuku(1962)',
 '31.Shichinin no samurai(1954)',
 "32.It's a Wonderful Life(1946)",
 '33.Gisaengchung(2019)',
 '34.Whiplash(2014)',
 '35.The Intouchables(2011)',
 '36.The Prestige(2006)',
 '37.The Departed(2006)',
 '38.The Pianist(2002)',
 '39.Gladiator(2000)',
 '40.American History X(1998)',
 '41.The Usual Suspects(1995)',
 '42.Léon(1994)',
 '43.The Lion King(1994)',
 '44.Nuovo Cinema Paradiso(1988)',
 '45.Hotaru no haka(1988)',
 '46.Back to the Future(1985)',
 '47.Apocalypse Now(1979)',
 '48.Alien(1979)',
 '49.Once Upon a Time in the West(1968)',
 '50.Psycho(1960)']

In [14]:
first_movierating = soup.find('div',class_="inline-block ratings-imdb-rating")
first_movierating

<div class="inline-block ratings-imdb-rating" data-value="9.3" name="ir">
<span class="global-sprite rating-star imdb-rating"></span>
<strong>9.3</strong>
</div>

In [15]:
first_movierating = soup.find('div',class_="inline-block ratings-imdb-rating")
first_movierating.text.replace("\n","")

'9.3'

In [16]:
movieratings=[]

for i in soup.find_all('div',class_="inline-block ratings-imdb-rating"):
    movieratings.append(i.text.replace("\n",""))
    
movieratings

['9.3',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5']

In [17]:
release_year = soup.find('span',class_="lister-item-year text-muted unbold")
release_year

In [18]:
release_year.text

'(1994)'

In [19]:
release_year=[]

for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    release_year.append(i.text)
    
release_year

['(1994)',
 '(1972)',
 '(2008)',
 '(2003)',
 '(1993)',
 '(1974)',
 '(1957)',
 '(1994)',
 '(2022)',
 '(2010)',
 '(2002)',
 '(1999)',
 '(2001)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(2014)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1991)',
 '(1991)',
 '(1977)',
 '(1962)',
 '(1954)',
 '(1946)',
 '(2019)',
 '(2014)',
 '(2011)',
 '(2006)',
 '(2006)',
 '(2002)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1994)',
 '(1988)',
 '(1988)',
 '(1985)',
 '(1979)',
 '(1979)',
 '(1968)',
 '(1960)']

In [20]:
## pricing length

print(len(movienames),len(movieratings),len(release_year))

50 50 50

In [21]:
## Making data frame

import pandas as pd
df = pd.DataFrame({'Movienames':movienames,'Movieratings':movieratings,'release_year':release_year})
df

,Movienames,Movieratings,release_year
0,1.The Shawshank Redemption(1994),9.3,(1994)
1,2.The Godfather(1972),9.2,(1972)
2,3.The Dark Knight(2008),9.0,(2008)
3,4.The Lord of the Rings: The Return of the Kin...,9.0,(2003)
4,5.Schindler's List(1993),9.0,(1993)
5,6.The Godfather: Part II(1974),9.0,(1974)
6,7.12 Angry Men(1957),9.0,(1957)
7,8.Pulp Fiction(1994),8.9,(1994)
8,9.Everything Everywhere All at Once(2022),8.8,(2022)
9,10.Inception(2010),8.8,(2010)
10,11.The Lord of the Rings: The Two Towers(2002),8.8,(2002)
11,12.Fight Club(1999),8.8,(1999)
12,13.The Lord of the Rings: The Fellowship of th...,8.8,(2001)
13,14.Forrest Gump(1994),8.8,(1994)
14,"15.Il buono, il brutto, il cattivo(1966)",8.8,(1966)
15,16.The Matrix(1999),8.7,(1999)
16,17.Goodfellas(1990),8.7,(1990)
17,18.The Empire Strikes Back(1980),8.7,(1980)
18,19.One Flew Over the Cuckoo's Nest(1975),8.7,(1975)
19,20.Interstellar(2014),8.6,(2014)
20,21.Cidade de Deus(2002),8.6,(2002)
21,22.Sen to Chihiro no kamikakushi(2001),8.6,(2001)
22,23.Saving Private Ryan(1998),8.6,(1998)
23,24.The Green Mile(1999),8.6,(1999)
24,25.La vita è bella(1997),8.6,(1997)
25,26.Se7en(1995),8.6,(1995)
26,27.Terminator 2: Judgment Day(1991),8.6,(1991)
27,28.The Silence of the Lambs(1991),8.6,(1991)
28,29.Star Wars(1977),8.6,(1977)
29,30.Seppuku(1962),8.6,(1962)
30,31.Shichinin no samurai(1954),8.6,(1954)
31,32.It's a Wonderful Life(1946),8.6,(1946)
32,33.Gisaengchung(2019),8.5,(2019)
33,34.Whiplash(2014),8.5,(2014)
34,35.The Intouchables(2011),8.5,(2011)
35,36.The Prestige(2006),8.5,(2006)
36,37.The Departed(2006),8.5,(2006)
37,38.The Pianist(2002),8.5,(2002)
38,39.Gladiator(2000),8.5,(2000)
39,40.American History X(1998),8.5,(1998)
40,41.The Usual Suspects(1995),8.5,(1995)
41,42.Léon(1994),8.5,(1994)
42,43.The Lion King(1994),8.5,(1994)
43,44.Nuovo Cinema Paradiso(1988),8.5,(1988)
44,45.Hotaru no haka(1988),8.5,(1988)
45,46.Back to the Future(1985),8.5,(1985)
46,47.Apocalypse Now(1979),8.5,(1979)
47,48.Alien(1979),8.5,(1979)
48,49.Once Upon a Time in the West(1968),8.5,(1968)
49,50.Psycho(1960),8.5,(1960)

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of #release) and make data frame.

## Ans  ↓↓↓

In [22]:
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page

In [24]:
first_movie = soup.find('td',class_="titleColumn")
first_movie

<td class="titleColumn">
      1.
      <a href="/title/tt15097216/" title="T.J. Gnanavel (dir.), Suriya, Lijo Mol Jose">Jai Bhim</a>
<span class="secondaryInfo">(2021)</span>
</td>

In [25]:
first_movie = soup.find('td',class_="titleColumn")
first_movie.text

'\n      1.\n      Jai Bhim\n(2021)\n'

In [26]:
first_movie = soup.find('td',class_="titleColumn")
first_movie.text.replace("\n"," ")

'       1.       Jai Bhim (2021) '

In [28]:
movierating = soup.find('td',class_="ratingColumn imdbRating")
movierating

<td class="ratingColumn imdbRating">
<strong title="8.4 based on 187,237 user ratings">8.4</strong>
</td>

In [29]:
movierating = soup.find('td',class_="ratingColumn imdbRating")
movierating.text

'\n8.4\n'

In [30]:
movierating = soup.find('td',class_="ratingColumn imdbRating")
movierating.text.replace("\n"," ")

' 8.4 '

In [31]:
movierating=[]

for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    movierating.append(i.text.replace("\n"," "))
    
movierating

[' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ']

In [32]:
r_year = soup.find('span',class_="secondaryInfo")
r_year

In [33]:
r_year = soup.find('span',class_="secondaryInfo")
r_year.text

'(2021)'

In [34]:
r_year=[]

for i in soup.find_all('span',class_="secondaryInfo"):
    r_year.append(i.text.replace("\n"," "))
    
r_year

['(2021)',
 '(2003)',
 '(2022)',
 '(1979)',
 '(1987)',
 '(2018)',
 '(1959)',
 '(2009)',
 '(1993)',
 '(2004)',
 '(2019)',
 '(2007)',
 '(2018)',
 '(2016)',
 '(2021)',
 '(1989)',
 '(2020)',
 '(2019)',
 '(1955)',
 '(2019)',
 '(1992)',
 '(2019)',
 '(2015)',
 '(2018)',
 '(1991)',
 '(2016)',
 '(2021)',
 '(2021)',
 '(2021)',
 '(1956)',
 '(2015)',
 '(1983)',
 '(2018)',
 '(2006)',
 '(1975)',
 '(2018)',
 '(2013)',
 '(2019)',
 '(2005)',
 '(2018)',
 '(1998)',
 '(2014)',
 '(2019)',
 '(2018)',
 '(2015)',
 '(2016)',
 '(1993)',
 '(2013)',
 '(2012)',
 '(2002)',
 '(2018)',
 '(1965)',
 '(2015)',
 '(1997)',
 '(1988)',
 '(2012)',
 '(2012)',
 '(2017)',
 '(2011)',
 '(2016)',
 '(2018)',
 '(1999)',
 '(1995)',
 '(2005)',
 '(2016)',
 '(1992)',
 '(2004)',
 '(2007)',
 '(2019)',
 '(2006)',
 '(2013)',
 '(2019)',
 '(2015)',
 '(1957)',
 '(2013)',
 '(2014)',
 '(2015)',
 '(2003)',
 '(2012)',
 '(2014)',
 '(2021)',
 '(2019)',
 '(2001)',
 '(1999)',
 '(2014)',
 '(2010)',
 '(2012)',
 '(1975)',
 '(2012)',
 '(2017)',
 '(2002)',
 '(1982)',
 '(2000)',
 '(2022)',
 '(2006)',
 '(1995)',
 '(2015)',
 '(2001)',
 '(2012)',
 '(2016)',
 '(2015)',
 '(1992)',
 '(2016)',
 '(2017)',
 '(2008)',
 '(2005)',
 '(2006)',
 '(2003)',
 '(2021)',
 '(2022)',
 '(1964)',
 '(1971)',
 '(2004)',
 '(2018)',
 '(2000)',
 '(2019)',
 '(2006)',
 '(2015)',
 '(1989)',
 '(1995)',
 '(2006)',
 '(2013)',
 '(2021)',
 '(2014)',
 '(1996)',
 '(1960)',
 '(2018)',
 '(1995)',
 '(2021)',
 '(2003)',
 '(2013)',
 '(2005)',
 '(1994)',
 '(2019)',
 '(2009)',
 '(1999)',
 '(2016)',
 '(2008)',
 '(2019)',
 '(2019)',
 '(1975)',
 '(2018)',
 '(2012)',
 '(2013)',
 '(1999)',
 '(2016)',
 '(2002)',
 '(1968)',
 '(2019)',
 '(2014)',
 '(2017)',
 '(2011)',
 '(2009)',
 '(2021)',
 '(2010)',
 '(2017)',
 '(2010)',
 '(2017)',
 '(2003)',
 '(2011)',
 '(2017)',
 '(2007)',
 '(2015)',
 '(2017)',
 '(2020)',
 '(2021)',
 '(2019)',
 '(2012)',
 '(2020)',
 '(1958)',
 '(1997)',
 '(2018)',
 '(1988)',
 '(2010)',
 '(2011)',
 '(2015)',
 '(2013)',
 '(2015)',
 '(2015)',
 '(2012)',
 '(2010)',
 '(2021)',
 '(2006)',
 '(2016)',
 '(2016)',
 '(2012)',
 '(2004)',
 '(2017)',
 '(2013)',
 '(2007)',
 '(2018)',
 '(2016)',
 '(2003)',
 '(2003)',
 '(2000)',
 '(2013)',
 '(2019)',
 '(2020)',
 '(2006)',
 '(2004)',
 '(2013)',
 '(2009)',
 '(2017)',
 '(2017)',
 '(2003)',
 '(2006)',
 '(2014)',
 '(2012)',
 '(1957)',
 '(2022)',
 '(2012)',
 '(2004)',
 '(2008)',
 '(1987)',
 '(2021)',
 '(2016)',
 '(2011)',
 '(2001)',
 '(2004)',
 '(2021)',
 '(2015)',
 '(2019)',
 '(2007)',
 '(2014)',
 '(2008)',
 '(2018)',
 '(2019)',
 '(2020)',
 '(1999)',
 '(2013)',
 '(1996)',
 '(2021)',
 '(2010)',
 '(1978)',
 '(2015)',
 '(2015)',
 '(2018)',
 '(2011)',
 '(2007)',
 '(2016)',
 '(2020)',
 '(2016)',
 '(2014)',
 '(2008)',
 '(2011)',
 '(2004)',
 '(2001)',
 '(2012)',
 '(2017)',
 '(2008)']

In [35]:
## Making data frame

import pandas as pd
df = pd.DataFrame({'Movienames':allmovie,'Movieratings':movierating,'release_year':r_year})
df

                                     Movienames Movieratings release_year
0                     1.       Jai Bhim (2021)          8.4        (2021)
1                   2.       Anbe Sivam (2003)          8.4        (2003)
2             3.       K.G.F: Chapter 2 (2022)          8.4        (2022)
3                      4.       Golmaal (1979)          8.4        (1979)
4                      5.       Nayakan (1987)          8.4        (1987)
..                                          ...          ...          ...
245                     246.       Arya (2004)          7.6        (2004)
246                  247.       Samsara (2001)          7.6        (2001)
247                     248.       Eega (2012)          7.6        (2012)
248                   249.       Newton (2017)          7.6        (2017)
249         250.       Mumbai Meri Jaan (2008)          7.6        (2008)

[250 rows x 3 columns]

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp

## Ans  ↓↓↓

In [36]:
page = requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
page

In [38]:
product_name = soup.find('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS")
product_name

<p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Ravishing Alluring Women Handbags</p>

In [39]:
product_name = soup.find('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS")
product_name.text

'Ravishing Alluring Women Handbags'

In [40]:
all_product=[]

for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    all_product.append(i.text)
                       
all_product

['Ravishing Alluring Women Handbags',
 'Graceful Fancy Women Handbags',
 'Ravishing Classy Women Handbags',
 'Classic Versatile Women Handbags',
 'Voguish Fancy Women Handbags',
 'Graceful Versatile Women Handbags',
 'Classic Stylish Women Handbags',
 'Ravishing Fashionable Women Handbags',
 'Elegant Classy Women Handbags',
 'Elegant Alluring Women Handbags',
 'Classic Alluring Women Handbags',
 'Elegant Fashionable Women Handbags',
 'Trendy Alluring Women Handbags',
 'Trendy Alluring Women Handbags',
 'Classic Fancy Women Handbags',
 'Classic Fashionable Women Handbags']

In [41]:
price_of_bag = soup.find('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy")
price_of_bag

In [42]:
price_of_bag = soup.find('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy")
price_of_bag.text

'₹384'

In [43]:
all_product_price=[]

for i in soup.find_all('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
    all_product_price.append(i.text)
    
all_product_price

['₹384',
 '₹528',
 '₹950',
 '₹950',
 '₹1549',
 '₹950',
 '₹3202',
 '₹316',
 '₹950',
 '₹2337',
 '₹518',
 '₹725',
 '₹1320',
 '₹950',
 '₹646',
 '₹620']

In [44]:
discount = soup.find('span',class_="Text__StyledText-sc-oo0kvp-0 lnonyH")
discount

In [45]:
discount = soup.find('span',class_="Text__StyledText-sc-oo0kvp-0 lnonyH")
discount.text

'12% off'

In [46]:
all_product_discount=[]

for i in soup.find_all('span',class_="Text__StyledText-sc-oo0kvp-0 lnonyH"):
    all_product_discount.append(i.text)
    
all_product_discount

['12% off',
 '9% off',
 '5% off',
 '5% off',
 '3% off',
 '5% off',
 '2% off',
 '14% off',
 '5% off',
 '2% off',
 '9% off',
 '6% off',
 '4% off',
 '5% off',
 '7% off',
 '7% off']

In [47]:
## Making data frame

import pandas as pd
df = pd.DataFrame({'Product_Name':all_product,'Price_of_bag':all_product_price ,'Discount':all_product_discount})
df

                            Product_Name Price_of_bag Discount
0      Ravishing Alluring Women Handbags         ₹384  12% off
1          Graceful Fancy Women Handbags         ₹528   9% off
2        Ravishing Classy Women Handbags         ₹950   5% off
3       Classic Versatile Women Handbags         ₹950   5% off
4           Voguish Fancy Women Handbags        ₹1549   3% off
5      Graceful Versatile Women Handbags         ₹950   5% off
6         Classic Stylish Women Handbags        ₹3202   2% off
7   Ravishing Fashionable Women Handbags         ₹316  14% off
8          Elegant Classy Women Handbags         ₹950   5% off
9        Elegant Alluring Women Handbags        ₹2337   2% off
10       Classic Alluring Women Handbags         ₹518   9% off
11    Elegant Fashionable Women Handbags         ₹725   6% off
12        Trendy Alluring Women Handbags        ₹1320   4% off
13        Trendy Alluring Women Handbags         ₹950   5% off
14          Classic Fancy Women Handbags         ₹646   7% off
15    Classic Fashionable Women Handbags         ₹620   7% off

# 7 ) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

## Ans  ↓↓↓

In [48]:
page = requests.get('https://coreyms.com')
page

In [50]:
heading= soup.find('h2',class_="entry-title")
heading

<h2 class="entry-title" itemprop="headline"><a class="entry-title-link" href="https://coreyms.com/development/python/python-tutorial-zip-files-creating-and-extracting-zip-archives" rel="bookmark">Python Tutorial: Zip Files – Creating and Extracting Zip Archives</a></h2>

In [51]:
heading.text

'Python Tutorial: Zip Files – Creating and Extracting Zip Archives'

In [52]:
heading=[]

for i in soup.find_all('h2',class_="entry-title"):
    heading.append(i.text)
    
heading

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [53]:
date_time= soup.find('time',class_="entry-time")
date_time

In [54]:
date_time.text

'November 19, 2019'

In [55]:
date_time=[]

for i in soup.find_all('time',class_="entry-time"):
    date_time.append(i.text)
    
date_time

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [56]:
content= soup.find('div',class_="entry-content")
content

<div class="entry-content" itemprop="text">
<p>In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…<br/></p>
<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/z0gguhEmWiY?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>
</div>

In [57]:
content.text.replace("\n"," ")

' In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…  '

In [58]:
content=[]

for i in soup.find_all('div',class_="entry-content"):
    content.append(i.text.replace("\n"," "))
    
content

[' In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…  ',
 ' In this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…    ',
 ' In this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…    ',
 ' In this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…    ',
 ' Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube  ',
 ' In this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…    ',
 ' In this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…    ',
 ' In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started… VSCode on MacOS – https://youtu.be/06I63_p-2A4 Timestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55    ',
 ' In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started… VSCode on Windows – https://youtu.be/-nh9rCzPJ20 Timestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42     ',
 ' In this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…    ']

In [59]:
## Making data frame

import pandas as pd
df = pd.DataFrame({'Headings':heading,'Date_Time' : date_time ,'Contents':content})
df

,Headings,Date_Time,Contents
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to cre..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be ..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be ..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be ..."
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update ...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will ..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will ..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will ..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will ..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will ..."

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

Ans ↓↓↓

In [60]:
page2 = requests.get('https://www.bewakoof.com/women-clothing')
page2

In [62]:
product_name = soup.find('div',class_="productCardDetail")
product_name

<div class="productCardDetail"><div><h3 id="">Women's Delete My Fat Hoodie</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>799</b></span><span class="actualPriceText">1549</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->749</b>For TriBe Members</h6></div> </div></div>

In [63]:
product_name.text

"Women's Delete My Fat Hoodie₹ 7991549₹749For TriBe Members "

In [64]:
product_name=[]

for i in soup.find_all('div',class_="productCardDetail"):
    product_name.append(i.text)
    
product_name

["Women's Delete My Fat Hoodie₹ 7991549₹749For TriBe Members ",
 "Women's Dog Hoodie₹ 8491549₹799For TriBe Members ",
 'Padded Non Wired Full Cup T Shirt Bra In Off White₹ 5151199₹489For TriBe Members ',
 "Women's Self Love Hoodie₹ 7991549₹749For TriBe Members ",
 'Low Waist Heart Print Bikini Panty In Pink₹ 244499FEW LEFT₹219For TriBe Members ',
 'Low Waist Floral Print Bikini Panty In Light Blue₹ 244499FEW LEFT₹219For TriBe Members ',
 'Lightly Padded Non Wired Prined T-Shirt Bra In Blue₹ 5871199₹549For TriBe Members ',
 "Women's Let Them Talk Hoodie₹ 8491549₹799For TriBe Members ",
 "Women's You Are Enough Hoodie₹ 7991549₹749For TriBe Members ",
 'Brush Stroke Whatever Round Neck 3/4 Sleeve T-Shirt Meteor Grey₹ 249499FEW LEFT₹229For TriBe Members ']

In [65]:
price = soup.find('span',class_="discountedPriceText")
price

In [66]:
price.text

'₹ 799'

In [67]:
price=[]

for i in soup.find_all('span',class_="discountedPriceText"):
    price.append(i.text)
    
price

['₹ 799',
 '₹ 849',
 '₹ 515',
 '₹ 799',
 '₹ 244',
 '₹ 244',
 '₹ 587',
 '₹ 849',
 '₹ 799',
 '₹ 249']

In [68]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re

In [69]:
html = urlopen('https://www.bewakoof.com/women-clothing')
bs = BeautifulSoup(html, 'html.parser')
images = bs.find_all('img', {'src':re.compile('.jpg')})
for image in images: 
    print(image['src']+'\n')

https://images.bewakoof.com/t320/women-s-delete-my-fat-hoodie-hoodies-406702-1633079171.jpg

https://images.bewakoof.com/t320/women-s-dog-hoodie-hoodies-406712-1633079165.jpg

https://images.bewakoof.com/t320/clovia-padded-non-wired-full-cup-t-shirt-bra-in-off-white-clovia-women-s-bra-fits-like-a-second-skin01-356185-1620651625.jpg

https://images.bewakoof.com/t320/women-s-self-love-hoodie-hoodies-406704-1633079166.jpg

https://images.bewakoof.com/t320/clovia-low-waist-heart-print-bikini-panty-in-pink-bikini-382740-1626879862.jpg

https://images.bewakoof.com/t320/clovia-low-waist-floral-print-bikini-panty-in-light-blue-bikini-382742-1626879880.jpg

https://images.bewakoof.com/t320/clovia-lightly-padded-non-wired-prined-t-shirt-bra-in-blue-clovia-women-s-bra-fits-like-a-second-skin01-356183-1620651532.jpg

https://images.bewakoof.com/t320/women-s-let-them-talk-hoodie-hoodies-406714-1633079173.jpg

https://images.bewakoof.com/t320/women-s-you-are-enough-hoodie-hoodies-406718-1633079199.jpg

https://images.bewakoof.com/t320/brush-stroke-whatever-round-neck-3-4-sleeve-t-shirt-meteor-grey-282269-1638214040-1.jpg

# I am not able to extract the data from this web page for question no. 9

# 8) Write a python program to scrape house details from mentioned URL. It should include house title, location,area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.


## Ans  ↓↓↓

In [71]:
page3 = requests.get('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar')
page3

In [73]:
house = soup.find('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full")
house

In [74]:
house.text

'4+ BHK In Independent House  For Sale  In Rajajinagar'

# 5&6 Write a python program to scrape cricket rankings from icc-cricket.com.

## Ans  ↓↓↓

In [75]:
page4 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page4

In [77]:
team_name = soup.find('span',class_="u-hide-phablet")
team_name

In [78]:
team_name = soup.find('span',class_="u-hide-phablet")
team_name.text

'New Zealand'

In [80]:
team_name=[]

for i in soup.find_all('span',class_="u-hide-phablet"):
    team_name.append(i.text)
    
print(team_name)

['New Zealand', 'England', 'Australia', 'India', 'South Africa', 'Pakistan', 'Bangladesh', 'Sri Lanka', 'West Indies', 'Afghanistan', 'Ireland', 'Scotland', 'Zimbabwe', 'Netherlands', 'UAE', 'Oman', 'Namibia', 'Nepal', 'United States', 'Papua New Guinea', '', '', '', '', '']

In [81]:
x=team_name[0:9]
x

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies']

In [82]:
table = soup.find('tr',class_="table-body")
table

<tr class="table-body" data-team-id="11">
<td class="table-body__cell table-body__cell--position u-text-right">2</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo ENG"></span>
<span class="u-hide-phablet">England</span>
<span class="u-show-phablet">ENG</span>
</td>
<td class="table-body__cell u-center-text">32</td>
<td class="table-body__cell u-center-text">3,793</td>
<td class="table-body__cell u-text-right rating">119</td>
</tr>

In [83]:
table.text.replace("\n"," ")

' 2   England ENG  32 3,793 119 '

In [84]:
table=[]

for i in soup.find_all('tr',class_="table-body"):
    table.append(i.text.replace("\n","  "))
    
table

['  2      England  ENG    32  3,793  119  ',
 '  3      Australia  AUS    31  3,475  112  ',
 '  4      India  IND    38  4,162  110  ',
 '  5      South Africa  SA    31  3,167  102  ',
 '  6      Pakistan  PAK    30  2,921  97  ',
 '  7      Bangladesh  BAN    36  3,350  93  ',
 '  8      Sri Lanka  SL    35  2,835  81  ',
 '  9      West Indies  WI    36  2,788  77  ',
 '  10      Afghanistan  AFG    23  1,562  68  ',
 '  11      Ireland  IRE    28  1,445  52  ',
 '  12      Scotland  SCO    14  712  51  ',
 '  13      Zimbabwe  ZIM    23  951  41  ',
 '  14      Netherlands  NED    13  459  35  ',
 '  15      UAE  UAE    20  651  33  ',
 '  16      Oman  OMA    27  777  29  ',
 '  17      Namibia  NAM    13  268  21  ',
 '  18      Nepal  NEP    17  308  18  ',
 '  19      United States  USA    14  232  17  ',
 '  20      Papua New Guinea  PNG    23  178  8  ']

 I have some confusion to extract the data from this web page. In website, first row is in banner format and remaining all in 
 table format. so i am not getting how to extract all data by using loop. Therfore, i have not completed this que.