In [ ]:
! pip install selenium

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
Ans.

In [3]:
driver = webdriver.Chrome(r"C:\Users\Toshiba\chromedriver.exe")

In [4]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [5]:
driver.get('https://www.naukri.com/')

In [6]:
search_field_designation=driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys("Data Analyst")

In [7]:
search_field_loc=driver.find_element_by_class_name("suggestor-input ")
search_field_loc.send_keys("Banglore")

In [8]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Banglore")

In [9]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [10]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="eafb350a-5a26-455f-b45b-5e24badb9158")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="7b49d488-c1f7-4269-bde6-825d604f62f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="996a282d-387c-4bab-9eb2-ae8d86e07670")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="d04fbebd-02ce-4891-bc72-b365ac32f1dc")>]

In [11]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Business and Data Analyst',
 'Senior Data Analyst',
 'Jr . Data Analyst',
 'Officer - Category Demand Management ( Data Analyst)']

In [12]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="0c71abe1-7144-454a-a2a5-fdc4530c6e62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="1ca5744a-54ac-4a43-8ea1-2482dfc9809e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="6d3bb38d-37ae-4693-bda6-2afa9dd77d6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="87ed3fd7-7855-4c81-ad59-bb3dec466dc5")>]

In [13]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['CAREERDOST ENTERPRISE', 'Gsn Games India', 'Armorblox', 'Myntra']

In [14]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="0b9cbd1a-b753-49d1-b42b-33d4e7f7b8f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="b5c2ac0a-ad5a-4e57-9d95-46eba62270ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="c660c968-11ce-4e4e-84f6-121777ce0952")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="b866c059-0a19-4218-9eaf-6ed8a38362f3")>]

In [15]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:4]

['0-5 Yrs', '3-7 Yrs', '0-2 Yrs', '1-4 Yrs']

In [16]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="a1df073a-e2f6-4180-b6d0-791fb7b578b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="ada965dc-da51-48d6-a7e1-08ce2985822f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="2f5e97d1-306a-4b91-98e5-c0d79d7616e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7fe7fd4dcf7b400a299f26dc35e3f41", element="8f06c536-a2af-45f8-b44a-661fcc9e39c7")>]

In [17]:
for i in location_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [18]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [20]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=locations_list

In [21]:
jobs

,title,company,experience_required,location
0,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst,Gsn Games India,3-7 Yrs,Bangalore/Bengaluru
2,Jr . Data Analyst,Armorblox,0-2 Yrs,Bangalore/Bengaluru
3,Officer - Category Demand Management ( Data An...,Myntra,1-4 Yrs,Bangalore/Bengaluru
4,Software Technologist II - Data Analyst,Philips,5-8 Yrs,Bangalore/Bengaluru
5,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
6,Sr Data Analyst,TECHNODYSIS PRIVATE LIMITED,6-10 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
7,Senior Data Analyst,ClearTrail Technologies,4-8 Yrs,"Noida, Indore, Hyderabad/Secunderabad, Pune, G..."
8,Data Analyst,Malayala Manorama,2-7 Yrs,"Chennai, Bangalore/Bengaluru, kerala"
9,Data Analyst II,Cerner,6-10 Yrs,Bangalore/Bengaluru
10,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
11,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
12,Consultant - Data Analyst,Jobs Territory,0-2 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
13,Data Analyst / Business Analyst,Search Advisers Services ( GUJ ) Pvt. Ltd.,4-9 Yrs,Bangalore/Bengaluru
14,Senior Data Analyst - Logistics,Gojek,4-10 Yrs,Bangalore/Bengaluru
15,Data Analyst I,Bioclinica,0-3 Yrs,Bangalore/Bengaluru
16,Senior Data Analyst,Shell,10-12 Yrs,Bangalore/Bengaluru
17,Senior Data Analyst (Digital Services Analytics),Dell Technologies,1-6 Yrs,Bangalore/Bengaluru
18,"Senior Data Analyst, Data & Analytics",ReSource Pro Operational Solutions Pvt Ltd.,3-5 Yrs,Bangalore/Bengaluru
19,Lead Data Analyst - Risk Analytics,Gojek,5-11 Yrs,Bangalore/Bengaluru

In [22]:
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [35]:
driver = webdriver.Chrome(r"C:\Users\Toshiba\chromedriver.exe")

In [36]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [37]:
driver.get('https://www.naukri.com/')

In [38]:
search_field_designation1=driver.find_element_by_class_name("suggestor-input ")
search_field_designation1.send_keys("Data Scientist")

In [39]:
search_field_loc1=driver.find_element_by_class_name("suggestor-input")
search_field_loc1.send_keys("Banglore")

In [40]:
search_field_location1=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location1.send_keys("Banglore")

In [41]:
job_titles1=[]
company_names1=[]
locations_list1=[]
experience_list1=[]

In [ ]:
titles_tags1=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags1[0:10]

In [44]:
for i in titles_tags1:
    title=i.text
    job_titles1.append(title)
job_titles1[0:10]

['Senior Data Scientist',
 'Senior Associate - Data Scientist',
 'Data Scientist',
 'Staff Data Scientist',
 'Job Opening with Wipro For Data Scientist - SAS',
 'Data Scientist',
 'Senior Data Scientist -Python+ML(5-7 years)',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist (IN4)']

In [ ]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

In [46]:
for i in companies_tags:
    company_name=i.text
    company_names1.append(company_name)
company_names1[0:10]

['Walmart',
 'Affine',
 'Applied Materials',
 'Walmart',
 'Wipro',
 'CRED',
 'Knowledge Foundry Business Solutions Pvt. Ltd.',
 'Course5',
 'Ashkom Media India Private Limited',
 'Walmart']

In [ ]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags[0:10]

In [48]:
for i in experience_tags:
    experience=i.text
    experience_list1.append(experience)
experience_list1[0:10]

['5-10 Yrs',
 '2-4 Yrs',
 '7-10 Yrs',
 '4-8 Yrs',
 '3-7 Yrs',
 '1-5 Yrs',
 '5-7 Yrs',
 '5-9 Yrs',
 '3-6 Yrs',
 '5-9 Yrs']

In [ ]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

In [50]:
for i in location_tags:
    location=i.text
    locations_list1.append(location)
locations_list1[0:10]

['Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [61]:
print(len(job_titles1),len(company_names1),len(experience_list1),len(locations_list1))

20 20 20 20

In [59]:
jobs=pd.DataFrame({})
jobs['title']=job_titles1
jobs['company']=company_names1
jobs['experience_required']=experience_list1
jobs['location']=locations_list1

In [54]:
jobs

,title,company,experience_required,location
0,Senior Data Scientist,Walmart,5-10 Yrs,Bangalore/Bengaluru
1,Senior Associate - Data Scientist,Affine,2-4 Yrs,Remote
2,Data Scientist,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
3,Staff Data Scientist,Walmart,4-8 Yrs,Bangalore/Bengaluru
4,Job Opening with Wipro For Data Scientist - SAS,Wipro,3-7 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
5,Data Scientist,CRED,1-5 Yrs,Bangalore/Bengaluru
6,Senior Data Scientist -Python+ML(5-7 years),Knowledge Foundry Business Solutions Pvt. Ltd.,5-7 Yrs,Bangalore/Bengaluru
7,Senior Data Scientist,Course5,5-9 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
8,Data Scientist,Ashkom Media India Private Limited,3-6 Yrs,"Noida, Bangalore/Bengaluru"
9,Senior Data Scientist (IN4),Walmart,5-9 Yrs,Bangalore/Bengaluru
10,Senior Data Scientist,Walmart,5-9 Yrs,Bangalore/Bengaluru
11,Senior Data Scientist,Ericsson Global Services,10-15 Yrs,Bangalore/Bengaluru
12,Senior Data Scientist,Truecaller,2-5 Yrs,Bangalore/Bengaluru
13,Senior Data Scientist,Gojek,6-12 Yrs,Bangalore/Bengaluru
14,Staff Engineer Data Scientist,Infineon Technologies Pvt Ltd,1-3 Yrs,Bangalore/Bengaluru
15,Senior AI Scientist - SAP Procurement Data Sci...,SAP India Pvt.Ltd,4-9 Yrs,Bangalore/Bengaluru
16,Data Scientist,Randstad India Private Limited,1-5 Yrs,Bangalore/Bengaluru
17,Jr. Data Scientist,TEOCO Software,1-5 Yrs,Bangalore/Bengaluru
18,Consultant - Data Scientist,Affine,4-7 Yrs,Remote
19,Data Scientist,Applied Materials,0-3 Yrs,Bangalore/Bengaluru

In [62]:
jobs.head(10)

,title,company,experience_required,location
0,Senior Data Scientist,Walmart,5-10 Yrs,Bangalore/Bengaluru
1,Senior Associate - Data Scientist,Affine,2-4 Yrs,Remote
2,Data Scientist,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
3,Staff Data Scientist,Walmart,4-8 Yrs,Bangalore/Bengaluru
4,Job Opening with Wipro For Data Scientist - SAS,Wipro,3-7 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
5,Data Scientist,CRED,1-5 Yrs,Bangalore/Bengaluru
6,Senior Data Scientist -Python+ML(5-7 years),Knowledge Foundry Business Solutions Pvt. Ltd.,5-7 Yrs,Bangalore/Bengaluru
7,Senior Data Scientist,Course5,5-9 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
8,Data Scientist,Ashkom Media India Private Limited,3-6 Yrs,"Noida, Bangalore/Bengaluru"
9,Senior Data Scientist (IN4),Walmart,5-9 Yrs,Bangalore/Bengaluru

In [63]:
driver.close()

Q.3 In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [64]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Toshiba\chromedriver.exe")

In [65]:

driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [66]:
# opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [67]:
# finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [70]:
job_titles2=[]
company_names2=[]
locations_list2=[]
experience_list2=[]

In [ ]:
titles_tags2=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags2[0:10]

In [72]:
for i in titles_tags2:
    title=i.text
    job_titles2.append(title)
job_titles2[0:10]

['Data Scientist',
 'Associate Data Scientist',
 'Associate Scientist - Data Engineering',
 'Hiring For Senior Data Scientist-Noida',
 'Hiring For Data Analyst and Data Scientist For Gurgaon Location',
 'Opening For Data Scientist',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Data Scientist (freelance)',
 'Data Scientist',
 'Data Scientist']

In [ ]:
companies_tags2=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags2[0:10]

In [74]:
for i in companies_tags2:
    company_name=i.text
    company_names2.append(company_name)
company_names2[0:10]

['Ashkom Media India Private Limited',
 'Optum',
 'AXA Technology Services India Pvt. Ltd',
 'Lumiq.ai',
 'Shadow Placements',
 'Care Health Insurance',
 'Creative Hands HR Consultancy',
 '2Coms',
 'BlackBuck',
 'Boston Consulting Group']

In [ ]:
experience_tags2=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags2[0:10]

In [76]:
for i in experience_tags2:
    experience=i.text
    experience_list2.append(experience)
experience_list2[0:10]

['3-6 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '2-6 Yrs',
 '3-7 Yrs',
 '1-5 Yrs',
 '0-4 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '2-5 Yrs']

In [ ]:
location_tags2=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags2[0:10]

In [79]:
for i in location_tags2:
    location=i.text
    locations_list2.append(location)
locations_list2[0:10]

['Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida, Greater Noida, Delhi / NCR',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Delhi',
 'Gurgaon, Bengaluru',
 'New Delhi']

In [80]:
print(len(job_titles2),len(company_names2),len(experience_list2),len(locations_list2))

20 20 20 20

In [81]:
jobs=pd.DataFrame({})
jobs['title']=job_titles2
jobs['company']=company_names2
jobs['experience_required']=experience_list2
jobs['location']=locations_list2

In [82]:
jobs.head(10)

,title,company,experience_required,location
0,Data Scientist,Ashkom Media India Private Limited,3-6 Yrs,"Noida, Bangalore/Bengaluru"
1,Associate Data Scientist,Optum,1-5 Yrs,Gurgaon/Gurugram
2,Associate Scientist - Data Engineering,AXA Technology Services India Pvt. Ltd,2-5 Yrs,Gurgaon/Gurugram
3,Hiring For Senior Data Scientist-Noida,Lumiq.ai,2-6 Yrs,"Noida, Greater Noida, Delhi / NCR"
4,Hiring For Data Analyst and Data Scientist For...,Shadow Placements,3-7 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
5,Opening For Data Scientist,Care Health Insurance,1-5 Yrs,Gurgaon/Gurugram
6,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,0-4 Yrs,"Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba..."
7,Data Scientist (freelance),2Coms,2-7 Yrs,"New Delhi, Delhi"
8,Data Scientist,BlackBuck,3-7 Yrs,"Gurgaon, Bengaluru"
9,Data Scientist,Boston Consulting Group,2-5 Yrs,New Delhi

In [83]:
driver.close()

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [ ]:
! pip install selenium

In [64]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [80]:
driver = webdriver.Chrome(r"C:\Users\Toshiba\chromedriver.exe")

In [81]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [82]:
driver.get('https://www.flipkart.com/')

In [83]:
search_field_sunglass=driver.find_element_by_class_name("_3704LK")
search_field_sunglass.send_keys("Sneakers")

In [84]:
brand_titles=[]
price_list=[]
discount_price_list=[]

In [85]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="1f1ec3e4-06fe-4a8e-9f55-4d1e8b069618")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="f900d317-a546-4cff-a052-357f9508ded9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="b22fbf03-be3a-4365-9fd3-ba8693ba95af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="8c0e0dee-3a4f-4bcb-9a8c-59eb9472d6bc")>]

In [86]:
for i in brand_tags:
    brand=i.text
    brand_titles.append(brand)
brand_titles[0:4]

['luxury fashion', 'India hub', 'URBANBOX', 'corsac']

In [87]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

In [88]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="5f37797b-d392-4024-8018-e38e0b0385e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="5a2fb852-cf20-4091-8704-006e12811974")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="8f2f244e-37f0-46e6-a470-bc28cc2c121c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="581c73c1-989b-4942-ade7-213494f3f3a2")>]

In [ ]:
for i in brand_tags:
    brand=i.text
    brand_titles.append(brand)
brand_titles[0:40]

In [91]:
print(len(brand_titles))

120

In [92]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="91e2abcd-cb3b-43cc-a1af-843beb94cfbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="64a14188-ae1d-47ef-a18b-0e7095bdf7e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="58fb0b07-d4b9-4e80-9430-f7e4b6440535")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="26f908fe-0474-4da1-9def-8292958a31c1")>]

In [93]:
for i in price_tags:
    price=i.text
    price_list.append(price)
price_list[0:4]

['₹299', '₹679', '₹178', '₹499']

In [94]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

In [95]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="3138b395-9de8-4b35-8caa-af6e1019ffb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="a704e584-7d0f-41db-ad32-419d9cc65897")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="cd2b2e02-9897-4b93-8bcc-10bac0dfde2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="cf31a0c8-f83a-4058-96c0-75e239cfa93a")>]

In [ ]:
for i in price_tags:
    price=i.text
    price_list.append(price)
price_list[0:40]

In [98]:
print(len(price_list))

120

In [99]:
discount_price=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_price[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="74662999-efda-4e44-94e8-9bddcb424e04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="4e8f60a8-23a8-456f-9ff5-efa2e425ba1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="0bf890b7-18c0-4573-9b5d-0ec9a5a4c5d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="9e0e4b80-65ac-42f9-834f-76c9eaba12ee")>]

In [100]:
for i in discount_price:
    discount=i.text
    discount_price_list.append(price)
discount_price_list[0:4]

['₹228', '₹228', '₹228', '₹228']

In [101]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

In [102]:
discount_price=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_price[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="d016ee9d-3b23-48ab-9a67-c25c48e730da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="96d9221a-7599-4fc8-a901-4c31024bdc70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="b514de46-3429-4866-b570-b4998e1f78ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="baedefb0a542bac26419c33b7ce47858", element="3b9f717e-1bba-48dc-a65c-2747f6c015a9")>]

In [ ]:
for i in discount_price:
    discount=i.text
    discount_price_list.append(price)
discount_price_list[0:40]

In [105]:
print(len(discount_price_list))

120

In [106]:
sneakers=pd.DataFrame({})                        
sneakers['brand']=brand_titles
sneakers['price']=price_list
sneakers['discount price']=discount_price_list

sneakers.head(100)

             brand price discount price
0   luxury fashion  ₹299           ₹228
1        India hub  ₹679           ₹228
2         URBANBOX  ₹178           ₹228
3           corsac  ₹499           ₹228
4           BRUTON  ₹295           ₹228
..             ...   ...            ...
95        KWIK FIT  ₹449           ₹228
96           Echor  ₹539           ₹228
97          Chevit  ₹629           ₹228
98       bluemaker  ₹499           ₹228
99     kardam&sons  ₹399           ₹228

[100 rows x 3 columns]

In [107]:
driver.close()

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [ ]:
! pip install selenium

In [109]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [110]:
driver = webdriver.Chrome(r"C:\Users\Toshiba\chromedriver.exe")

In [111]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [112]:
driver.get('https://www.myntra.com/shoes')

In [113]:
shoes_titles=[]
shoes_description=[]
shoes_price_list=[]

In [114]:
shoes_brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
shoes_brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="0abf0ff9-28b0-49bc-a18e-05bb0a2a864d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="c0ae8d86-c93a-4c46-9e65-61a0c0b5d78a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="9abad27c-e9b0-4b15-8688-078564fae852")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="d1f9b6d9-e55f-4417-92b2-4dec92e9a0dc")>]

In [115]:
for i in shoes_brand_tags:
    shoes=i.text
    shoes_titles.append(shoes)
shoes_titles[0:4]

['ALDO', 'ALDO', '', '']

In [116]:
next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
next_button.click()

In [117]:
shoes_brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
shoes_brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="4f3b1bd1-259c-4559-9f53-92ba385481d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="fb0a4313-39c0-4a60-bf06-c1c2b65e0e93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="3adb848b-77fc-46de-8934-504c9fa1ab96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="5f8a4136-3d03-447a-8786-0d9801adb251")>]

In [118]:
for i in shoes_brand_tags:
    shoes=i.text
    shoes_titles.append(shoes)
shoes_titles[0:4]

['ALDO', 'ALDO', '', '']

In [119]:
print(len(shoes_titles))

115

In [120]:
shoes_des_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
shoes_des_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="f5a44024-6eb7-41cb-a4ba-465409f44a4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="1cc05bce-0a53-4178-a2c7-ce4515978150")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="63fbf60c-d6d2-4195-ab5f-6160324de65e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="617ba32a-92c1-42d2-8045-9b9691045f66")>]

In [121]:
for i in shoes_des_tags:
    shoes_des=i.text
    shoes_description.append(shoes_des)
shoes_description[0:4]

['Men Woven Design Sneakers', 'Men Leather Driving Shoes', '', '']

In [122]:
next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
next_button.click()

In [123]:
shoes_des_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
shoes_des_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="ed372a6b-c342-4e20-bf02-1b676e25d7ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="9416e340-4076-434b-9378-106e0949b797")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="d7b61a11-9630-4dee-8502-fb4575301a33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="5f44cb1b-334e-4dda-a236-68cfce24e3d8")>]

In [124]:
for i in shoes_des_tags:
    shoes_des=i.text
    shoes_description.append(shoes_des)
shoes_description[0:4]

['Men Woven Design Sneakers', 'Men Leather Driving Shoes', '', '']

In [125]:
print(len(shoes_description))

115

In [126]:
price_tags=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="b417eb9a-cc75-4395-bc6e-9cf94fb1a5bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="6e45066e-172a-4c54-9a10-250b51cf23d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="ef44f31f-cffd-4e34-a0a7-ff91e17fd6f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="1c9b60d1-0046-4165-863d-2c8decc0036a")>]

In [131]:
for i in price_tags:
    shoes_price=i.text
    shoes_price_list.append(shoes_price)
shoes_price_list[0:4]

['Rs. 7739', 'Rs. 7199', 'Rs. 8499', 'Rs. 8499']

In [132]:
next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
next_button.click()

In [133]:
price_tags=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="e85b87af-81ed-4e5e-aa0a-c39f98ae3116")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="7f089c7b-15f3-451b-9d23-e02a611a8a8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="187c11a8-845f-4b03-9b22-9dceabbe585f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6257460e8afe5ca0714c19763aec83ea", element="7bd92042-023c-4e76-9c9f-0164178e4fd1")>]

In [134]:
for i in price_tags:
    shoes_price=i.text
    shoes_price_list.append(shoes_price)
shoes_price_list[0:4]

['Rs. 7739', 'Rs. 7199', 'Rs. 8499', 'Rs. 8499']

In [135]:
print(len(price_list))

168

In [137]:
shoes=pd.DataFrame({})                        
shoes['brand']=shoes_titles
shoes['product description']=shoes_description
shoes.head(100)

                   brand                  product description
0                   ALDO            Men Woven Design Sneakers
1                   ALDO            Men Leather Driving Shoes
2
3
4
..                   ...                                  ...
95               Saint G            Women Leather Block Heels
96                  Puma         Men Velocity Nitro 2 Running
97                  Puma       Men Voyage Nitro Running Shoes
98                  ALDO                        Wedge Sandals
99  Heel & Buckle London  Men Textured Leather Formal Loafers

[100 rows x 2 columns]

In [138]:
driver.close()

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [ ]:
! pip install selenium

In [140]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [141]:
driver = webdriver.Chrome(r"C:\Users\Toshiba\chromedriver.exe")

In [142]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [143]:
driver.get('https://www.amazon.in/')

In [170]:
titles=[]
ratings=[]
prices=[]

In [152]:
title_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="185bf0f5-82e2-4aad-93c5-5349f8b532aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="1141c57b-663a-4323-a752-9e2251f657dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="38422777-33ec-4f4b-aac4-1efc6588b75b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="31c1a013-33f5-4a00-971c-b9b835006c0f")>]

In [153]:
for i in title_tags:
    title=i.text
    titles.append(title)
titles[0:4]

['MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia MX450 2GB Graphics/Carbon Grey/1.3Kg), B11SBU-688IN',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 EvoTM  39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office Home & Student 2021/Graphite/1.55Kg), NP750XED-KC2IN',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office 21/Backlit KB/FP Sensor/1.7Kg)']

In [154]:
print(len(titles))

30

In [155]:
rating_tags=driver.find_elements_by_xpath("//i[@class='a-icon a-icon-star-small a-star-small-4 aok-align-bottom']")
rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="cbe2df37-1e7c-49bf-a71e-ba492908589b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="ba2d505c-7c7d-4320-90c5-0b0d706d9cd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="bd0b0224-00d1-4117-bd2a-2a0e85f2e236")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="a6405031-22c9-47a7-962f-bba32ff69424")>]

In [166]:
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
ratings[0:4]

['', '', '', '']

In [167]:
print(len(ratings))

30

In [168]:
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="d5685ddf-da5f-484e-8c1c-bcec2436840a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="1a6c2826-aa1d-4359-91e3-1d3cf6011bde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="0800ee90-7747-4b4d-8ffd-ae694efcc3a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca02faaef6556a5ef97cc8bef047005d", element="07157d5f-a58e-4b0a-ab65-3d2c61f78b77")>]

In [171]:
for i in price_tags:
    price=i.text
    prices.append(price)
prices[0:4]

['76,490', '57,999', '79,990', '77,990']

In [172]:
print(len(prices))

30

In [178]:
laptop=pd.DataFrame({})                        
laptop['Title']=titles
laptop['Rating']=ratings
laptop['price']=prices
laptop.head(10)

   Title  Rating     price
0    NaN     NaN    76,490
1    NaN     NaN    57,999
2    NaN     NaN    79,990
3    NaN     NaN    77,990
4    NaN     NaN    89,990
5    NaN     NaN    86,990
6    NaN     NaN    57,490
7    NaN     NaN    93,999
8    NaN     NaN  1,01,112
9    NaN     NaN    85,890

In [ ]:
import numpy as np
df2 = laptop.replace(np.nan, '')
print(df2)

In [185]:
driver.close()

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [ ]:
! pip install selenium

In [184]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [186]:
driver = webdriver.Chrome(r"C:\Users\Toshiba\chromedriver.exe")

In [187]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [188]:
driver.get('https://www.ambitionbox.com/')

In [189]:
company_name=[]
No_of_days_ago_when_job_was_posted=[]
Rating_of_the_company=[]

In [190]:
company_tags=driver.find_elements_by_xpath("//a[@class='title noclick']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="cb7a2458-8d43-4f4a-a83e-14c350e86a14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="73498a7a-8984-4cdc-bbc9-b377bc8e8803")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="97d7b46f-85b2-494c-b361-781298675bd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="e5bf6756-ab03-486a-9f39-875e5d143b91")>]

In [193]:
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[0:4]

['Machine Learning Engineer',
 'Data Scientist- AI/ML- R&D',
 'Data Scientist',
 'Oracle HCM BI Technical Lead/Manager (People Analytics)']

In [194]:
print(len(company_name))

20

In [195]:
job_posting_tags=driver.find_elements_by_xpath("//span[@class='body-small-l']")
job_posting_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="43951ab8-c24c-43c6-808b-666e2e13802e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="896559f3-b522-4b3e-8968-3c123afdf27b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="f5dec5d4-7177-45d0-8d2b-7e6ffa8d27ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="632cb5f5-49e2-4ea8-94e2-e3cbf4f06218")>]

In [196]:
for i in job_posting_tags:
    job_posting=i.text
    No_of_days_ago_when_job_was_posted.append(job_posting)
No_of_days_ago_when_job_was_posted[0:4]

['13d ago', 'via naukri.com', '6d ago', 'via naukri.com']

In [197]:
print(len(No_of_days_ago_when_job_was_posted))

20

In [198]:
rating_tags=driver.find_elements_by_xpath("//span[@class='body-small']")
rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="4d5df680-4c81-4b40-9c92-5475d0783231")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="479c642e-3ff9-4f98-80c4-2e7282e1c1fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="5563cd97-dc8d-499b-8b82-4f0aa26c600b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe57be5e4d23890dd5e9b5cf85fb1112", element="a28094e4-c48e-4ef0-b0a8-fa8998db29e3")>]

In [204]:
for i in rating_tags:
    rating=i.text
    Rating_of_the_company.append(rating)
Rating_of_the_company[0:4]

['4.0', '3.9', '4.0', '3.9']

In [205]:
print(len(Rating_of_the_company))

20

In [207]:
jobs=pd.DataFrame({})                        
jobs['Company']=company_name
jobs['Job posting']=No_of_days_ago_when_job_was_posted
jobs['Rating']=Rating_of_the_company
jobs.head(10)

                                             Company     Job posting Rating
0                          Machine Learning Engineer         13d ago    4.0
1                         Data Scientist- AI/ML- R&D  via naukri.com    3.9
2                                     Data Scientist          6d ago    4.0
3  Oracle HCM BI Technical Lead/Manager (People A...  via naukri.com    3.9
4                            Data Scientist with SAS         18d ago    3.7
5  Hiring For Data Scientist + Python/R+ Predicti...  via naukri.com    4.0
6                 Data Scientist - Immediate Joiners          4d ago    3.8
7       Data Scientist - Machine Learning (5-14 yrs)  via naukri.com    4.1
8                                     Data Scientist        1mon ago    3.7
9  Data Scientist- Fresher Opening - Newgen Softw...  via naukri.com    3.5

In [208]:
driver.close()

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually.

In [ ]:
! pip install selenium

In [210]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [212]:
driver = webdriver.Chrome(r"C:\Users\Toshiba\chromedriver.exe")

In [213]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [214]:
driver.get('https://www.ambitionbox.com/')

In [219]:
company_name=[]

average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience_required=[]

In [216]:
company_tags=driver.find_elements_by_xpath("//div[@class='name']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="ce97283e-48aa-4477-b805-ab8f37df4461")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="2bd06678-ff97-4f81-8de8-1dc8bc287af8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="69bd7101-005d-451c-87be-05f06f67ccd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="9999f3d6-256e-4561-8a23-fc13bcdc0e49")>]

In [241]:
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[0:4]

['Walmart\nbased on 11 salaries',
 'Ab Inbev\nbased on 32 salaries',
 'Reliance Jio\nbased on 10 salaries',
 'ZS\nbased on 15 salaries']

In [242]:
print(len(company_name))

40

In [243]:
average_salary_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
average_salary_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="7cf71746-36e6-40a4-8933-b85cad7b1758")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="b9985d42-3bac-4a5e-a1cd-57af24e7026a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="77d53708-cf89-41fa-9690-b347376f3d57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="effb3c2e-297e-468e-a82a-0895cab4a656")>]

In [244]:
for i in average_salary_tags:
    average_s=i.text
    average_salary.append(average_s)
average_salary[0:4]

['₹ 29.7L', '₹ 20.5L', '₹ 18.9L', '₹ 15.9L']

In [245]:
print(len(average_salary))

40

In [225]:
minimum_salary_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
minimum_salary_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="1df932f7-4b30-419b-89dc-ba22d8613c6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="b0d7baf1-9cc7-4f47-8a20-9dd760fe24d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="73eb9571-0771-407b-9483-f923fa3c35c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="9fdea6d8-679a-49f3-b58e-74dec4ed2d42")>]

In [227]:
for i in minimum_salary_tags:
    minimum_s=i.text
    minimum_salary.append(minimum_s)
minimum_salary[0:4]

['₹ 25.0L', '₹ 35.0L', '₹ 15.0L', '₹ 25.5L']

In [228]:
print(len(minimum_salary))

40

In [249]:
maximum_salary_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
maximum_salary_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="1df932f7-4b30-419b-89dc-ba22d8613c6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="b0d7baf1-9cc7-4f47-8a20-9dd760fe24d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="73eb9571-0771-407b-9483-f923fa3c35c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d7082e2c020226a20abeb52bd0214299", element="9fdea6d8-679a-49f3-b58e-74dec4ed2d42")>]

In [250]:
for i in maximum_salary_tags:
    maximum_s=i.text
    maximum_salary.append(maximum_s)
maximum_salary[0:4]

['₹ 25.0L', '₹ 35.0L', '₹ 15.0L', '₹ 25.5L']

In [251]:
print(len(maximum_salary))

40

In [252]:
ds=pd.DataFrame({})                        
ds['Company']=company_name
ds['Averagr pay']=average_salary
ds['Minimum pay']=minimum_salary
ds['maximum pay']=maximum_salary
ds.head(10)

,Company,Averagr pay,Minimum pay,maximum pay
0,Walmart\nbased on 11 salaries,₹ 29.7L,₹ 25.0L,₹ 25.0L
1,Ab Inbev\nbased on 32 salaries,₹ 20.5L,₹ 35.0L,₹ 35.0L
2,Reliance Jio\nbased on 10 salaries,₹ 18.9L,₹ 15.0L,₹ 15.0L
3,ZS\nbased on 15 salaries,₹ 15.9L,₹ 25.5L,₹ 25.5L
4,Optum\nbased on 27 salaries,₹ 15.2L,₹ 5.6L,₹ 5.6L
5,Fractal Analytics\nbased on 81 salaries,₹ 15.2L,₹ 26.2L,₹ 26.2L
6,Tiger Analytics\nbased on 46 salaries,₹ 14.8L,₹ 9.8L,₹ 9.8L
7,UnitedHealth\nbased on 53 salaries,₹ 14.0L,₹ 20.0L,₹ 20.0L
8,Verizon\nbased on 14 salaries,₹ 12.7L,₹ 11.0L,₹ 11.0L
9,Ganit Business Solutions\nbased on 13 salaries,₹ 12.4L,₹ 22.0L,₹ 22.0L

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [ ]:
! pip install selenium

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

driver = webdriver.Chrome(r"C:\Users\Toshiba\chromedriver.exe")
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)
driver.get('https://www.flipkart.com/')

In [33]:
rating_list=[]             
for i in range(0,10):
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")  
    for i in rating_tags:   
        rating=i.text        
        rating_list.append(rating) 
    
    
review_list=[]             
for i in range(0,10):
    review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")  
    for i in review_tags:   
        review=i.text        
        review_list.append(review) 
       
    
full_review_list=[]             
for i in range(0,10):
    full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")  
    for i in full_review_tags:   
        full_review=i.text        
        full_review_list.append(full_review) 
        
        
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    next_button.click()   
    time.sleep(5)    
    
print(len(rating_list),len(review_list),len(full_review_list))

iphone=pd.DataFrame({})
iphone['Rating']=rating_list
iphone['Review']=review_list
iphone['Full review']=full_review_list

iphone

100 100 100

,Rating,Review,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Fast delivery by Flipkart.\nAs a first time iP...
96,5,Great product,I was using Android from past 15 years and fou...
97,4,Good choice,Simply I love it !!\nBest mixture of hardware ...
98,5,Worth every penny,The iPhone 11 - the successor to the iPhone XR...
99,5,Highly recommended,The phone has classy look in hand. Exquisite f...

In [34]:
driver.close()

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [ ]:
! pip install selenium

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

driver = webdriver.Chrome(r"C:\Users\Toshiba\chromedriver.exe")
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)
driver.get('https://www.flipkart.com/')

In [36]:
search_field_sunglass=driver.find_element_by_class_name("_3704LK")
search_field_sunglass.send_keys("Sunglasses")

In [37]:
brand_titles=[]            
for i in range(0,3):
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")  
    for i in brand_tags:   
        brand=i.text        
        brand_titles.append(brand) 
    
    
product_description=[]           
for i in range(0,3):
    product_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")  
    for i in product_tags:   
        product=i.text        
        product_description.append(product) 
       
    
price_list=[]            
for i in range(0,3):
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")  
    for i in price_tags:   
        price=i.text        
        price_list.append(price) 
        
discount_price_list=[]           
for i in range(0,3):
    dp_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")  
    for i in dp_tags:   
        discount=i.text        
        discount_price_list.append(discount) 
        
        
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()   
    time.sleep(5)    
    
print(len(brand_titles),len(product_description),len(price_list),len(discount_price_list))

sunglasses=pd.DataFrame({})
sunglasses['Brand']=brand_titles
sunglasses['Product Description']=product_description
sunglasses['Price']=price_list
sunglasses['Discount Price']=discount_price_list

sunglasses

120 120 120 120

,Brand,Product Description,Price,Discount Price
0,VINCENT CHASE,UV Protection Rectangular Sunglasses (50),₹649,67% off
1,VINCENT CHASE,UV Protection Cat-eye Sunglasses (54),₹649,67% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719,20% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
...,...,...,...,...
115,NuVew,"UV Protection Retro Square, Wayfarer Sunglasse...",₹275,69% off
116,HIPPON,UV Protection Wayfarer Sunglasses (55),₹181,61% off
117,SRPM,UV Protection Wayfarer Sunglasses (53),₹246,88% off
118,Mi,Polarized Wayfarer Sunglasses (Free Size),₹849,82% off
119,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (58)",₹498,76% off

In [38]:
sunglasses.head(100)

,Brand,Product Description,Price,Discount Price
0,VINCENT CHASE,UV Protection Rectangular Sunglasses (50),₹649,67% off
1,VINCENT CHASE,UV Protection Cat-eye Sunglasses (54),₹649,67% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719,20% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
...,...,...,...,...
95,VINCENT CHASE,UV Protection Wayfarer Sunglasses (62),₹649,72% off
96,SRPM,UV Protection Wayfarer Sunglasses (50),₹249,20% off
97,PIRASO,UV Protection Rectangular Sunglasses (52),₹280,78% off
98,Fastrack,UV Protection Shield Sunglasses (Free Size),₹809,68% off
99,VINCENT CHASE,UV Protection Round Sunglasses (47),₹649,62% off

In [42]:
driver.close()